* {
  outline: 1px solid red;
  font-family: arial, helvetica, sans-serif;
  font-size: medium;
  color: rgb(80,80,80);
}

body {
  text-align: center;
}

header > p {
  display: inline;
  position: relative;
  font-family: inherit;
  font-size: 36px;
  font-weight: bold;
  color: inherit;
  line-height: 44px;
}

nav {
  display: inline-block;
  position: relative;
  top: 8px;
  line-height: 40px;
}

nav > a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  padding-right: 10px;
  top: 20px;
}

section {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224,224,224);
  border-radius: 10px;
}

.logocontainer {
  display: inline-block;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224,224,224);
  border-radius: 10px;
  height: 220px;
  width: 200px;
  margin: 25px;
  font-family: arial, helvetica, sans-serif;
}

div.logocontainer > img {
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  height: 80%;
  width: 80%;
}

div.logocontainer a {
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224,224,224);
  font-family: inherit;
  font-size: large;
  height: 20px;
  padding: 10px;
  text-align: center;
  color: rgb(256,256,256);
  text-decoration: none;
  bottom: -2px;
  left: -2px;
  width: 182px;
  background-color: rgb(80,80,80)
}

h1 {
  position: relative;
  font-size: x-large;
  color: rgb(256,256,256);
  font-family: arial, helvetica, sans-serif;
  font-weight: normal;
  background-color: rgb(80,80,80);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224,224,224);
  border-radius: 10px;
  padding: 10px;
  height: 30px;
}

h2 {
  position: relative;
  font-size: large;
  color: inherit;
  font-family: arial, helvetica, sans-serif;
}

p {
  position: relative;
  font-size: medium;
  font-family: inherit;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 25px;
}

div.imageview > img {
  display: inline;
  position: relative;
  padding: 10px;
}




 /* unvisited link */
a:link {
    color: red;
}

/* visited link */
/*a:visited {
    color: green;
}*/

/* mouse over link */
a:hover {
    color: orange;
}

/* selected link */
a:active {
    color: blue;
}

